.centerhorizontalandvertical {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.error_box {
  flex: available;
  padding: 8px 16px;
  color: #f5f5f5;
  background-color: #b6342d;
  border-top: 2px solid #6d1f1b;
  min-height: 64px;
  max-height: 64px;
}

.error_box i, .success_box i {
  font-size:1.2em;
  vertical-align:middle;
}

.success_box {
  flex: available;
  padding: 8px 16px;
  color: #f5f5f5;
  background-color: #4e9d4e;
  border-top: 2px solid #2f5e2f;
  min-height: 64px;
  max-height: 64px;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
